GameClient/GameClient/Service References/GameServerService/item2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/GameServer" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/GameServer" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="PlayerStats">
    <xs:sequence />
  </xs:complexType>
  <xs:element name="PlayerStats" nillable="true" type="tns:PlayerStats" />
  <xs:complexType name="Move">
    <xs:sequence />
  </xs:complexType>
  <xs:element name="Move" nillable="true" type="tns:Move" />
  <xs:complexType name="GameState">
    <xs:sequence />
  </xs:complexType>
  <xs:element name="GameState" nillable="true" type="tns:GameState" />
  <xs:complexType name="ArrayOfGameDetails">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="GameDetails" nillable="true" type="tns:GameDetails" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfGameDetails" nillable="true" type="tns:ArrayOfGameDetails" />
  <xs:complexType name="GameDetails">
    <xs:sequence />
  </xs:complexType>
  <xs:element name="GameDetails" nillable="true" type="tns:GameDetails" />
</xs:schema>