GameClient/GameClient/Service References/GameServerService/item.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://Microsoft.ServiceModel.Samples" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://Microsoft.ServiceModel.Samples" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://Microsoft.ServiceModel.Samples/Imports">
      <xsd:import schemaLocation="http://localhost:8000/GameServer/?xsd=xsd0" namespace="http://Microsoft.ServiceModel.Samples" />
      <xsd:import schemaLocation="http://localhost:8000/GameServer/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8000/GameServer/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/GameServer" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IGameServer_GetPlayerStats_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPlayerStats" />
  </wsdl:message>
  <wsdl:message name="IGameServer_GetPlayerStats_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPlayerStatsResponse" />
  </wsdl:message>
  <wsdl:message name="IGameServer_Login_InputMessage">
    <wsdl:part name="parameters" element="tns:Login" />
  </wsdl:message>
  <wsdl:message name="IGameServer_Login_OutputMessage">
    <wsdl:part name="parameters" element="tns:LoginResponse" />
  </wsdl:message>
  <wsdl:message name="IGameServer_PlayerMove_InputMessage">
    <wsdl:part name="parameters" element="tns:PlayerMove" />
  </wsdl:message>
  <wsdl:message name="IGameServer_PlayerMove_OutputMessage">
    <wsdl:part name="parameters" element="tns:PlayerMoveResponse" />
  </wsdl:message>
  <wsdl:message name="IGameServer_GetGameList_InputMessage">
    <wsdl:part name="parameters" element="tns:GetGameList" />
  </wsdl:message>
  <wsdl:message name="IGameServer_GetGameList_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetGameListResponse" />
  </wsdl:message>
  <wsdl:message name="IGameServer_Login_InputMessage">
    <wsdl:part name="parameters" element="tns:Login" />
  </wsdl:message>
  <wsdl:message name="IGameServer_Login_OutputMessage">
    <wsdl:part name="parameters" element="tns:LoginResponse" />
  </wsdl:message>
  <wsdl:portType name="IGameServer">
    <wsdl:operation name="GetPlayerStats">
      <wsdl:input wsaw:Action="http://Microsoft.ServiceModel.Samples/IGameServer/GetPlayerStats" message="tns:IGameServer_GetPlayerStats_InputMessage" />
      <wsdl:output wsaw:Action="http://Microsoft.ServiceModel.Samples/IGameServer/GetPlayerStatsResponse" message="tns:IGameServer_GetPlayerStats_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Login">
      <wsdl:input wsaw:Action="http://Microsoft.ServiceModel.Samples/IGameServer/Login" message="tns:IGameServer_Login_InputMessage" />
      <wsdl:output wsaw:Action="http://Microsoft.ServiceModel.Samples/IGameServer/LoginResponse" message="tns:IGameServer_Login_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="PlayerMove">
      <wsdl:input wsaw:Action="http://Microsoft.ServiceModel.Samples/IGameServer/PlayerMove" message="tns:IGameServer_PlayerMove_InputMessage" />
      <wsdl:output wsaw:Action="http://Microsoft.ServiceModel.Samples/IGameServer/PlayerMoveResponse" message="tns:IGameServer_PlayerMove_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetGameList">
      <wsdl:input wsaw:Action="http://Microsoft.ServiceModel.Samples/IGameServer/GetGameList" message="tns:IGameServer_GetGameList_InputMessage" />
      <wsdl:output wsaw:Action="http://Microsoft.ServiceModel.Samples/IGameServer/GetGameListResponse" message="tns:IGameServer_GetGameList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Login">
      <wsdl:input wsaw:Action="http://Microsoft.ServiceModel.Samples/IGameServer/Login" message="tns:IGameServer_Login_InputMessage" />
      <wsdl:output wsaw:Action="http://Microsoft.ServiceModel.Samples/IGameServer/LoginResponse" message="tns:IGameServer_Login_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>