GameClient/GameClient/Service References/GameServerService/item.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://Microsoft.ServiceModel.Samples" elementFormDefault="qualified" targetNamespace="http://Microsoft.ServiceModel.Samples" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8000/GameServer/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:import schemaLocation="http://localhost:8000/GameServer/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/GameServer" />
  <xs:element name="GetPlayerStats">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="playerId" type="q1:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPlayerStatsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/GameServer" minOccurs="0" name="GetPlayerStatsResult" nillable="true" type="q2:PlayerStats" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Login">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="playerId" type="q3:guid" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoginResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="LoginResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PlayerMove">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="playerId" type="q4:guid" />
        <xs:element xmlns:q5="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="MatchId" type="q5:guid" />
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/GameServer" minOccurs="0" name="move" nillable="true" type="q6:Move" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PlayerMoveResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/GameServer" minOccurs="0" name="PlayerMoveResult" nillable="true" type="q7:GameState" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetGameList">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetGameListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/GameServer" minOccurs="0" name="GetGameListResult" nillable="true" type="q8:ArrayOfGameDetails" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>