GameClient/GameClient/Service References/Server/item3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/GameServer.Models" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/GameServer.Models" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8000/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:import schemaLocation="http://localhost:8000/?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:import schemaLocation="http://localhost:8000/?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/GameServer.Models.TicTacToe" />
  <xs:complexType name="PlayerStats">
    <xs:sequence>
      <xs:element minOccurs="0" name="gameHistory" nillable="true" type="tns:ArrayOfMatchResult" />
      <xs:element minOccurs="0" name="playerId" type="ser:guid" />
      <xs:element minOccurs="0" name="totalGames" type="xs:int" />
      <xs:element minOccurs="0" name="totalLosses" type="xs:int" />
      <xs:element minOccurs="0" name="totalWins" type="xs:int" />
      <xs:element minOccurs="0" name="winLossRatio" type="xs:float" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PlayerStats" nillable="true" type="tns:PlayerStats" />
  <xs:complexType name="ArrayOfMatchResult">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="MatchResult" nillable="true" type="tns:MatchResult" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfMatchResult" nillable="true" type="tns:ArrayOfMatchResult" />
  <xs:complexType name="MatchResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="gameEndTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="gameStartTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="gameType" type="tns:GameType" />
      <xs:element minOccurs="0" name="id" type="ser:guid" />
      <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="players" nillable="true" type="q1:ArrayOfguid" />
      <xs:element minOccurs="0" name="winnerId" type="ser:guid" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MatchResult" nillable="true" type="tns:MatchResult" />
  <xs:simpleType name="GameType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="TicTacToe" />
      <xs:enumeration value="Checkers" />
      <xs:enumeration value="Chess" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="GameType" nillable="true" type="tns:GameType" />
  <xs:complexType name="ArrayOfGameInformation">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="GameInformation" nillable="true" type="tns:GameInformation" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfGameInformation" nillable="true" type="tns:ArrayOfGameInformation" />
  <xs:complexType name="GameInformation">
    <xs:sequence>
      <xs:element minOccurs="0" name="description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="gameType" type="tns:GameType" />
      <xs:element minOccurs="0" name="numberOfPlayers" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GameInformation" nillable="true" type="tns:GameInformation" />
  <xs:complexType name="PlayerProfile">
    <xs:sequence>
      <xs:element minOccurs="0" name="id" type="ser:guid" />
      <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PlayerProfile" nillable="true" type="tns:PlayerProfile" />
  <xs:complexType name="MatchState">
    <xs:sequence>
      <xs:element minOccurs="0" name="gameEndTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="gameStartTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="gameType" type="tns:GameType" />
      <xs:element minOccurs="0" name="id" type="ser:guid" />
      <xs:element minOccurs="0" name="inGameState" nillable="true" type="tns:TicTacToeState" />
      <xs:element minOccurs="0" name="operationState" type="tns:GameOperationState" />
      <xs:element minOccurs="0" name="playerTurnId" type="ser:guid" />
      <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="players" nillable="true" type="q2:ArrayOfguid" />
      <xs:element minOccurs="0" name="winnerId" type="ser:guid" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MatchState" nillable="true" type="tns:MatchState" />
  <xs:complexType name="TicTacToeState">
    <xs:sequence>
      <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/GameServer.Models.TicTacToe" minOccurs="0" name="board" nillable="true" type="q3:ArrayOfPlayerMark" />
      <xs:element minOccurs="0" name="firstPlayer" type="ser:guid" />
      <xs:element minOccurs="0" name="secondPlayer" type="ser:guid" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TicTacToeState" nillable="true" type="tns:TicTacToeState" />
  <xs:simpleType name="GameOperationState">
    <xs:restriction base="xs:string">
      <xs:enumeration value="WaitingForPlayers" />
      <xs:enumeration value="InProgress" />
      <xs:enumeration value="Completed" />
      <xs:enumeration value="Failed" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="GameOperationState" nillable="true" type="tns:GameOperationState" />
</xs:schema>