GameClient/GameClient/Service References/Server/item41.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/GameServer.Utilities" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/GameServer.Utilities" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="EmptyResultsFault">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:GameServerFault">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="EmptyResultsFault" nillable="true" type="tns:EmptyResultsFault" />
  <xs:complexType name="GameServerFault">
    <xs:sequence>
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GameServerFault" nillable="true" type="tns:GameServerFault" />
  <xs:complexType name="UsernameAlreadyExistsFault">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:GameServerFault">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="UsernameAlreadyExistsFault" nillable="true" type="tns:UsernameAlreadyExistsFault" />
  <xs:complexType name="InvalidUsernameFault">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:GameServerFault">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="InvalidUsernameFault" nillable="true" type="tns:InvalidUsernameFault" />
  <xs:complexType name="InvalidPasswordFault">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:GameServerFault">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="InvalidPasswordFault" nillable="true" type="tns:InvalidPasswordFault" />
  <xs:complexType name="PlayerNotInSpecifiedGameFault">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:GameServerFault">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="PlayerNotInSpecifiedGameFault" nillable="true" type="tns:PlayerNotInSpecifiedGameFault" />
  <xs:complexType name="WaitingForPlayersFault">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:GameServerFault">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="WaitingForPlayersFault" nillable="true" type="tns:WaitingForPlayersFault" />
  <xs:complexType name="GameIsOverFault">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:GameServerFault">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="GameIsOverFault" nillable="true" type="tns:GameIsOverFault" />
  <xs:complexType name="NotPlayersTurnFault">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:GameServerFault">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="NotPlayersTurnFault" nillable="true" type="tns:NotPlayersTurnFault" />
  <xs:complexType name="InvalidPlayerMoveFault">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:GameServerFault">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="InvalidPlayerMoveFault" nillable="true" type="tns:InvalidPlayerMoveFault" />
</xs:schema>